name: bitcoin

services:
  bitcoin:
    image: bitcoin:latest
    build:
      context: ../../
      dockerfile: Containerfile
    env_file:
      - .env
    volumes:
      - webdav-nfs:/mnt/storage/
    depends_on:
      webdav-nfs:
        condition: service_healthy
    ports:
      - 127.0.0.1:${FORWARD_BITCOIN_P2P_MAINNET_PORT}:8333
      - 127.0.0.1:${FORWARD_BITCOIN_P2P_REGNET_PORT}:18444
      - 127.0.0.1:${FORWARD_BITCOIN_P2P_TESTNET_PORT}:18333
      - 127.0.0.1:${FORWARD_BITCOIN_RPC_MAINNET_PORT}:8332
      - 127.0.0.1:${FORWARD_BITCOIN_RPC_REGNET_PORT}:18443
      - 127.0.0.1:${FORWARD_BITCOIN_RPC_TESTNET_PORT}:18332
      - 127.0.0.1:${FORWARD_BITCOIN_ZMQ_BLOCK_HASH_PORT}:28335
      - 127.0.0.1:${FORWARD_BITCOIN_ZMQ_MEMPOOL_SEQUENCE_PORT}:28336
      - 127.0.0.1:${FORWARD_BITCOIN_ZMQ_RAW_BLOCK_PORT}:28333
      - 127.0.0.1:${FORWARD_BITCOIN_ZMQ_RAW_TRANSACTION_PORT}:28332
      - 127.0.0.1:${FORWARD_BITCOIN_ZMQ_TRANSACTION_HASH_PORT}:28334
#    deploy:
#      resources:
#        limits:
#          cpus: 4
    restart: unless-stopped

  webdav-nfs:
    image: nedix/webdav-nfs:latest
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse:rwm
    env_file:
      - .env
    environment:
      WEBDAV_DIRECTORY: ${WEBDAV_DIRECTORY}
      WEBDAV_ENDPOINT: ${WEBDAV_ENDPOINT}
      WEBDAV_PASSWORD: ${WEBDAV_PASSWORD}
      WEBDAV_USERNAME: ${WEBDAV_USERNAME}
    ports:
      - 127.0.0.1:${FORWARD_WEBDAV_NFS_PORT}:2049
    restart: unless-stopped

volumes:
  webdav-nfs:
    driver_opts:
      type: nfs
      o: vers=4,addr=127.0.0.1,port=${FORWARD_WEBDAV_NFS_PORT},rw
      device: :/

networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}
